/HelloWorldSwing/nbproject/private/
/HelloWorldSwing/build/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/LocalSwing/nbproject/private/
/LocalSwing/build/
/ResolucaoDisplaySwing/nbproject/private/
/ResolucaoDisplaySwing/build/
